<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Courgette&family=Sansita+Swashed:wght@500&family=Roboto:wght@500&display=swap"
			rel="stylesheet"
		/>

		<!-- Note: While linking to css or img don't include public in the path -->
		<!-- Internal Css -->
		<link rel="stylesheet" href="../../css/style.css" />

		<style></style>

		<title>Ice Cream Delight | <%= title %></title>
	</head>

	<body>
		<!-- Navbar -->
		<%- include('partials/nav') %>

		<div class="container-fluid about">
			<div class="text">
				<h4 class="text-uppercase">All About</h4>
				<h1 class="text-uppercase">Ice Cream Delight</h1>
			</div>
		</div>

		<section class="section-light">
			<h1>Our Little Factory</h1>
			<h4>It's what's on the inside that counts</h4>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum facere praesentium
				repellat qui saepe nisi atque, sit optio aliquam aspernatur est obcaecati odio
				doloremque esse sint aliquid beatae at, ab ipsum, maiores quam odit quidem ut!
				Nostrum autem porro omnis doloribus asperiores animi nam quos iure nobis illum,
				aperiam vel ad numquam nulla ducimus at sed obcaecati. Iusto quod ad corporis
				eveniet possimus voluptatem eos, aut quidem omnis rem sed voluptate iure accusamus
				illo eligendi at vel commodi maiores quaerat aliquam libero! Provident ullam saepe
				aliquam nihil, illo corporis molestias atque, sequi, odio inventore fugit quidem
				nesciunt? Dolorem, sapiente veritatis.
			</p>
		</section>

		<!-- Socket -->

		<div class="socket p-3 text-center">
			<p class="text-white">Copyright &copy; 2020 Harsh Nichani. All rights reserved.</p>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"
		></script>
	</body>
</html>
